
<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a test project to get myself aqcuainted with Ruby on Rails!<br/>It is a simple image sharing site.</p>
  <%= link_to 'Browse the Gallery!', pictures_path, class:"btn btn-secondary" %>
  </p>
</div>